{
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "paths": [
          "src"
        ]
      }
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": "off"
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:import/errors"
  ],
  "plugins": [
    "prettier",
    "promise",
    "import"
  ]
}